
<ion-header>
<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button (click)="showMenu()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="secondary" *ngIf="canAddFu">
    <ion-button (click)="showAdd()">
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button color="secondary" (click)="showAbout()">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>{{imei}} {{user.username}}</ion-title>
  <ion-title>FU ({{ticket.kdticket}}) - {{ticket.clientname}}</ion-title>
</ion-toolbar>
</ion-header>
<!-- List of Input Items -->
<ion-content>
  <div *ngIf="showInfo">
    <ion-list>
      <ion-item>
          <ion-label><h2>{{user.username}}</h2></ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap><h3>
            Gunakan icon <ion-icon name="search"></ion-icon> untuk mencari ticket yang telah dibuat. 
            Follow up dari ticket tersebut akan ditampilkan dalam warna merah. 
            Gunakakn icon <ion-icon name="add-circle-outline"></ion-icon> untuk menambahkan Follow Up.
            Gunakan icon <ion-icon name="ellipsis-vertical"></ion-icon> untuk register
          </h3></ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="showAsk">
      <ion-list>
        <ion-item>
            <ion-label><h2>Anda harus register terlebih dahulu</h2></ion-label>
        </ion-item>
        <ion-item>
            <ion-label text-wrap><h3>
                Gunakan icon <ion-icon name="search"></ion-icon> untuk mencari ticket yang telah dibuat. 
                Follow up dari ticket tersebut akan ditampilkan dalam warna merah. 
                Gunakakn icon <ion-icon name="add-circle-outline"></ion-icon> untuk menambahkan Follow Up.
                Gunakan icon <ion-icon name="ellipsis-vertical"></ion-icon> untuk register
              </h3></ion-label>
            </ion-item>
      </ion-list>
    </div>
    <ion-list>
    <ion-item *ngFor="let fu of fus">
      <ion-label>
        <h2>{{fu.username}}</h2>
        <h3>{{fu.result}}</h3>
        <p>
          <ion-text color="danger">
            <div [innerHTML]="fu.description"></div>
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>  

</ion-content>