<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <ion-item color="dark">
          <ion-datetime slot="start" id="dynamicDisabled" displayFormat="DD MMM YYYY" value="{{dt}}" (ionChange)="datechange($event)"></ion-datetime>
          <ion-badge slot="end" color="danger">FU</ion-badge>
          <ion-badge slot="end" color="success">Chat</ion-badge>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-item *ngFor="let t of tickets">
    <ion-avatar slot="start">
        <img src="./../../assets/shapes.svg">
    </ion-avatar>
    <ion-label>
      <h2>{{t.clientname}}</h2>
      <h3>{{t.kdticket}}</h3>
    </ion-label>
    <div slot="end">
        <ion-label>08:13</ion-label>
        <ion-chip color="danger" (click)="gotofubykdticket({kdticket:t.kdticket})">{{t.fucount}}</ion-chip>
        <ion-chip color="success" (click)="gotochatbykdticket({kdticket:t.kdticket})">{{t.chatcount}}</ion-chip>
      </div>
  </ion-item>
    </ion-list>
</ion-content>
